:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 600;
  line-height: 1.5;

  /* color-scheme: light dark; */
  color: rgba(255, 255, 255, 0.87);
  background-color: #222629;
}

a {
  font-weight: 400;
  color: #89c232;
  text-decoration: inherit;
}
a:hover {
  color: #bdf253;
}

body {
  margin: auto;
  display: flex;
  background-color: #222629;
  color: #6b6e70;
}

h1 {
  font-size: 3.5em;
  font-family: Ubuntu;
  font-weight: 200;
  color: whitesmoke;
  margin-top:4vw;
}

